// Colors
$vivid-orange: #fda214;
$light-orange: #ffb84a;
$gray-blue: #BCCED9;
$desaturated-blue: #304859;
$very-dark-blue: #152938;
$very-light-gray: #F2F2F2;
$desaturated-light-blue: #7191A5;
$slightly-desaturated-blue: #6395B8;
$very-light-gray: #FCFCFC;


// Breakpoints
$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;