@import "./globals/variables";
@import "./globals/mixins";
@import "./globals/typography";

* {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html, body, #root, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button.large {
  height: 70px;
  width: 541px;
  background-color: $vivid-orange;
  color: $very-light-gray;
  font-size: 32px;

  &:hover {
    background-color: $light-orange;
  }
}

button, a {
  border: none;
  color: $very-light-gray;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &.large {
    height: 70px;
    width: 541px;
    border-radius: 35px;
    font-size: 32px;
    background-color: $vivid-orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &.menuSelection {
    height: 40px;
    padding: 0 26px;
    border-radius: 20px;
    font-size: 16px;
    background-color: $gray-blue;
    
    &.active {
      background-color: $desaturated-blue;
    }

    &:hover {
      background-color: $slightly-desaturated-blue;
    }

    @include respond-to('small') {
      height: 52px;
      border-radius: 26px;
      font-size: 26px;
    }
  }

  &.primary {
    height: 52px;
    padding: 0 26px;
    border-radius: 26px;
    font-size: 20px;
    background-color: $vivid-orange;

    &:hover {
      background-color: $light-orange;
    }

    @include respond-to('small') {
      height: 70px;
      border-radius: 35px;
      font-size: 32px;
    }
  }

  &.primary--small {
    height: 40px;
    padding: 0 26px;
    border-radius: 20px;
    font-size: 16px;
    background-color: $vivid-orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &.secondary {
    height: 52px;
    padding: 0 26px;
    border-radius: 26px;
    font-size: 20px;
    background-color: $light-gray;
    color: $desaturated-blue;

    &:hover {
      background-color: $slightly-desaturated-blue;
      color: $very-light-gray;
    }
  }
}